@charset "UFT-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --font_default: "Poppins", Arial, Helvetica, sans-serif;
  --color_text: #000;
  --color_text_light: #fff;
  --color_contrast: #dc1313;
  --color_brand: #272727;
  --color_hover: #2727278c;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
  font-family: var(--font_default);
}

body {
  width: 100%;
  height: 100vh;
  background-color: #dedede;
  display: flex;
  align-items: center;
  justify-content: center;
}

header {
  position: relative;
  width: 58%;
  height: auto;
  background-color: #fff;
  box-shadow: 0 0 50px -1px rgb(0, 0, 0, 0.5);
  padding: 0 30px;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  transition: 1s linear;
  border-radius: 5px;
}

header.show_header {
  transform: translate(-25%, 0);
}

header .logo {
  position: absolute;
  top: 0;
  left: 14%;
  width: 200px;
  height: 350px;
  background-color: var(--color_brand);
  transition: 1s linear;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header .logo h1 {
  color: #fff;
  text-align: center;
  margin-top: 5px;
  font-size: 25px;
  font-weight: 600;
}

header .logo img {
  width: 300px;
  margin: 20px 0 0 0;
  filter: drop-shadow(0 0 20px rgb(0, 0, 0, 0.6));
}

header nav {
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header nav .menu {
  font-size: 30px;
  color: var(--color_text);
  cursor: pointer;
}

header nav .right_menu {
  display: flex;
  align-items: center;
}

header nav .right_menu ul {
  list-style-type: none;
  display: flex;
  align-items: center;
}

header nav .right_menu ul li {
  padding: 3px 10px;
}

header nav .right_menu ul li a {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--color_text);
  transition: 0.3s linear;
}

header nav .right_menu ul li a:hover {
  color: var(--color_contrast);
}

header nav .right_menu .user_cart {
  margin-left: 50px;
  display: flex;
  align-items: center;
}

header nav .right_menu .user_cart .shop {
  font-size: 20px;
  color: var(--color_text);
  cursor: pointer;
}

header nav .right_menu img {
  position: relative;
  width: 22px;
  height: auto;
  border-radius: 50%;
  margin-left: 10px;
  cursor: pointer;
}

header .left_menu {
  width: 20px;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

header .open a {
  display: none;
}

header .left_menu a {
  margin: 30px 0;
  padding: 0 5px;
  text-decoration: none;
  font-size: 1.05rem;
  color: var(--color_text);
  font-weight: 600;
  transition: 0.3s linear;
  transform: rotate(-90deg);
}

header .left_menu a:hover {
  color: var(--color_contrast);
}

header #home {
  width: 97%;
}

header #home .content {
  position: relative;
  margin: 8% 20px 0 340px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 5px;
  transition: 1s linear;
}

header #home .content h2 {
  font-size: 4rem;
  transition: 1s linear;
}

header #home .content #description {
  font-size: 1rem;
  font-weight: 600;
  width: 100%;
  word-break: break-all;
  height: 80px;
  overflow-y: auto;
  padding-right: 5px;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre-wrap;
}

header #home .content #description::-webkit-scrollbar {
  width: 4px;
}

header #home .content #description::-webkit-scrollbar-thumb {
  background-color: #8888888c;
  border-radius: 4px;
}

header #home .content .price_order {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  width: 100%;
}

header #home .content .price_order .price h3 {
  font-size: 2rem;
  color: var(--color_contrast);
  line-height: 1.8rem;
}

header #home .content .price_order .price #total {
  font-size: 0.8rem;
  width: 80px;
  height: 15px;
}

header #home .content .price_order a {
  padding: 4px 20px;
  background-color: var(--color_brand);
  color: #fff;
  text-decoration: none;
  font-size: 1.4rem;
  /* margin-left: 35px; */
  border: none;
  border-radius: 5px;
}

header #home .cards {
  width: 100%;
  height: 140px;
  position: relative;
  margin-top: 70px;
  padding-left: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: auto;
  transition: 1s linear;
}

header #home .cards::-webkit-scrollbar {
  display: none;
}

header #home .cards .card {
  min-width: 125px;
  min-height: 125px;
  position: relative;
  margin-right: 13px;
  background-color: var(--color_brand);
  border-radius: 50px 10px 10px 10px;
}

header #home .cards .card .description {
  display: none;
}

header #home .cards .card:nth-last-child(1) {
  margin-right: 0;
}

header #home .cards .card .dish {
  width: 73px;
  position: relative;
  top: -8px;
  left: -8px;
}

header #home .cards .card h4 {
  position: absolute;
  top: 20px;
  right: 20px;
  color: var(--color_text_light);
  font-size: 1.3rem;
  font-weight: 600;
}

header #home .cards .card h5 {
  color: var(--color_text_light);
  font-size: 1.2rem;
  font-weight: 500;
  padding: 0 10px;
  margin-top: -8px;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

header #home .cards .card p {
  color: rgb(180, 180, 180);
  font-size: 0.9rem;
  font-weight: 500;
  padding: 0 10px;
}

header #home .cards .card .rate_cart {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2px 10px;
  color: var(--color_text_light);
}

header #home .cards .card .rate_cart h6 {
  font-size: 1.1rem;
}

header #home .cards .card .rate_cart i {
  font-size: 1.3rem;
  cursor: pointer;
}

header #home .social {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 1s linear;
  margin-bottom: 8px;
}

header #home .social .btns {
  margin-left: 20px;
}

header #home .social .btns i {
  margin-left: 13px;
  cursor: pointer;
  transition: 0.3s linear;
}

header #home .social .btns i:hover {
  color: var(--color_brand);
}

header #home .social .icons {
  display: flex;
  align-items: center;
}

header #home .social .icons a {
  font-size: 1.2rem;
  margin-left: 10px;
  color: var(--color_brand);
  transition: 0.3s linear;
}

/* ______________CARRINHO_______________ */
aside {
  display: flex;
  justify-content: flex-end;
  right: 0;
  height: 100vh;
  min-width: 440px;
  position: absolute;
  margin-left: 50px;
  display: none;
}

.cart_container {
  height: 100vh;
  min-width: 430px;
}

.cart_container,
#success_message {
  background-color: var(--color_text_light);
  border-radius: 5px;
  padding: 25px;
}

#success_message {
  position: absolute;
  text-align: center;
  box-shadow: 0 0 50px -1px rgb(0, 0, 0, 0.5);
  width: 220px;
}

#success_message p {
    font-size: 1.4rem;
}

#success_message i {
  font-size: 5rem;
  color: var(--color_brand);
}

.show,
#success_message {
  display: block;
  opacity: 1;
  pointer-events: auto;
}

#header_cart {
  display: flex;
  justify-content: space-between;
}

#header_cart h2 {
  margin-bottom: 20px;
  font-weight: 700;
}

#header_cart i {
  font-size: 2rem;
  cursor: pointer;
}

.cart_container button,
#success_message button {
  padding: 5px 10px;
  background-color: var(--color_brand);
  border: none;
  border-radius: 5px;
  color: var(--color_text_light);
  font-weight: 500;
  font-family: var(--font_default);
  transition: 0.3s linear;
  cursor: pointer;
}

.quant {
  display: flex;
}

.number_quant {
  width: 10px;
  text-align: center;
  margin: auto;
}

.decrease,
.increase {
  width: 20px;
  height: 20px;
  padding-top: 8px !important;
  margin: 0 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#success_message .decrease,
#success_message .increase {
  padding: 0 2px;
  margin: 0 2px;
}

.cart_container button:hover,
#success_message button:hover {
  background-color: var(--color_hover);
  color: var(--color_text_light);
}

#cart_items {
  list-style-type: none;
}

#cart_items li {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  font-size: 1.3rem;
  font-weight: 500;
}

.description_cart {
  display: flex;
}

#cart_total {
  margin: 20px 0 5px 0;
  font-weight: 800;
  font-size: 1.6rem;
}

.photo {
  width: 40px;
  margin: 0 15px 5px 0;
}

.name_food {
  width: 110px;
}

@media screen and (max-width: 1260px) {
  aside {
    min-width: auto;
    bottom: 0;
    height: auto;
    width: 100vw;
    box-shadow: 0 0 50px -10px rgba(0, 0, 0, 0.2);
  }

  .cart_container,
  #success_message {
    height: auto;
  }

  #body_cart {
    display: flex;
    justify-content: space-between;
  }

  #cart_items {
    width: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow-x: auto;
    transition: 1s linear;
  }

  .main_cart {
    width: auto;
    overflow-x: auto;
    position: relative;
  }

  .gradiente-direita {
    position: absolute;
    bottom: 0;
    right: 0px;
    width: 20%;
    height: 100%;
    background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 1)
    );
    pointer-events: none;
  }

  #cart_items li {
    flex-direction: row;
    gap: 8px;
    font-size: 1.4rem;
  }

  #cart_items li img {
    margin-right: 0;
    margin-top: 10px;
    width: 80px;
  }

  #cart_items li .name_food {
    text-align: center;
  }

  .description_cart {
    flex-direction: column;
    align-items: center;
    gap: 5px;
    margin-right: 40px;
  }

  #cart_total {
    text-align: center;
    margin: 0;
  }

  #total {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  #finish_order {
    width: 100%;
    padding: 12px 0;
  }

  header {
    width: 75%;
  }

  header.show_header {
    transform: translate(0, -20%);
  }
}

@media screen and (max-width: 950px) {
  header {
    width: 95%;
  }

  header #home .content {
    margin-left: 330px;
  }
}

@media screen and (max-width: 760px) {
  header .logo {
    left: 13%;
  }

  header #home {
    width: 92%;
  }

  header nav .right_menu ul li {
    padding: 3px 6px;
  }

  header #home .cards {
    margin-top: 20px;
    padding: 7px;
  }

  header #home .social .btns {
    margin-left: 0;
  }
}

@media screen and (max-width: 680px) {
  body {
    flex-direction: column;
  }

  #home {
    position: absolute;
    top: 42%;
    width: 87% !important;
  }

  #home.show_home {
    position: absolute;
    top: 55%;
  }

  header {
    width: 100%;
    height: 100vh;
    overflow: auto;
    box-shadow: none;
  }

  header.show_header {
    transform: translate(0, 0%);
  }

  aside {
    position: sticky;
    width: 100%;
    margin: 0;
  }

  header nav .right_menu ul {
    position: absolute;
    top: 20%;
    flex-direction: column;
    width: 15px;
    right: 17px;
  }

  header nav .right_menu ul li {
    padding: 30px 10px;
    transform: rotate(90deg);
  }

  header .logo {
    left: 33%;
  }

  header #home .content {
    left: 0;
    margin-left: 15px;
    margin-right: 20px;
  }

  header #home .content #description {
    height: 100%;
    min-width: 100%;
    margin-bottom: 10px;
    overflow-y: visible;
    padding-right: 0;
    font-size: 1.4rem;
    font-weight: 500;
  }

  header #home .social {
    padding-bottom: 1px;
    top: 0;
  }

  #cart_items {
    gap: 20px;
    margin-bottom: 10px;
  }

  #cart_items li {
    margin-bottom: 0;
    flex-direction: column;
  }

  .description_cart {
    margin-right: 0;
  }

  .cart_container {
    height: auto;
    min-width: 100%;
  }

  #body_cart {
    flex-direction: column;
  }

  #total {
    padding: 15px 0 0 0;
  }
}

@media screen and (max-width: 500px) {
  header .logo {
    left: 27%;
  }
}

@media screen and (max-width: 418px) {
  header .logo {
    width: 200px;
    left: 25%;
  }

  header #home {
    top: 45%;
  }

  header #home.show_home {
    top: 70%;
  }

  header #home .content h2 {
    font-size: 3.4rem;
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 375px) {
  header .logo {
    width: 160px;
    left: 27%;
  }

  header #home {
    top: 45%;
  }

  header #home.show_home {
    top: 80%;
  }
}

@media screen and (max-height: 786px) {
  header #home {
    top: 50%;
  }

  header #home.show_home {
    top: 100%;
  }
}
